.btn-primary {
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
    -fx-padding: 5 15;
}
.btn-primary:hover {
    -fx-background-color: #1085ff;
    -fx-text-fill: #fff;
}
.btn-primary:pressed {
    -fx-background-color: #0061d0;
}

.btn-light {
    -fx-background-color: #fff;
    -fx-border-color: #b5b5b5;
    -fx-border-radius: 3;
    -fx-text-fill: #393939;
    -fx-padding: 5 15;
}
.btn-light:hover {
    -fx-background-color: #fff;
}
.btn-light:pressed {
    -fx-background-color: #f1f1f1;
}

.btn-operation {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 5px;
}
.btn-operation:hover {
    -fx-background-color: #e9e9e9;
}
.alert-wrapper {
}
.alert {
    -fx-padding: 5 10;
    -fx-background-color: #f8d7da;
}
.alert:hover {
    -fx-background-color: #ecc9cd;
}
.alert-text {
    -fx-text-fill: #721c24;
}
.list-content {
    -fx-padding: 10;
}
.table-placeholder {
    -fx-fill: #808080;
}
.table-view .table-cell{
    -fx-border-width: 0;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #007bff;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-row-cell:filled:focused:selected {
    -fx-background-color: #e1e1e1;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #007bff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #0061d0;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}
.menu-bar {
    -fx-selection-bar: #007bff ;
    -fx-focused-text-base-color: white;
}
.menu-item:focused {
    -fx-background-color: #007bff;
}
.about-tf {
    -fx-padding: 15;
}
.about-title {
    -fx-padding: 15 15 0 15;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}